#wrapper{
	
	width: 700px;
	
}
#wrapper td, #wrapper th{
	text-align: center;
}

.nav{
	width: 340px;
	display: inline-block;
	text-align: left;
	padding-right: 10px;
	font-size: 10pt;
}
.nav-left{
	width: 340px;
	display: inline-block;
	text-align: right;
	padding-left: 10px;
	font-size: 10pt;
}

textarea.form-control{
	width: 100%;
	padding: 5px;
	min-height: 400px;
	resize: vertical;
	text-align: justify;
	font-size: 10pt;
	
}